@media (max-width: 991px){
    .advantages {
        .advantages__wrapper {
            justify-content: center;
        }
        .advantages__item:last-child {
            margin-top: 30px;
        }
    }
    .consultation {
        .title {
            font-size: 20px;
        }
    }
    .catalog {
        .catalog__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 768px){
    .promo {
        .promo__wrapper {
            align-items: center;
        }
    }
    .header {
        .header__logo {
            width: 170px;
        }
    }
    .advantages {
        .title {
            font-size: 25px;
            width: 100%;
        }
        .advantages__wrapper {
            justify-content: center;
        }
        .advantages__wrapper:last-child {
            margin-top: 0
        }
        .advantages__item {
            margin-top: 50px;
        }
    }
    .consultation {
        .title {
            font-size: 25px;
            text-align: center;
        }
        .feed-form {
            margin: 0 auto; 
            margin-top: 50px;
        }
        .consultation__desc {
            margin-top: 20px;
            text-align: center;
        }
    }
    .carousel {
        .carousel__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        .header__contacts {
            font-size: 17px;
            align-items: center;
        }
        .header__logo {
            width: 150px;
        }
        .header__official {
            font-size: 8px;
            span {
                font-size: 14px;
            }
        }
        button {
            font-size: 10px;
            width: 110px;
            height: 25px;
        }
    }
    .promo {
        .container {
            padding: 0 40px;
        }
        .promo__header {
            font-size: 35px;
        }
        .promo__subheader {
            font-size: 18px;
        }
    }
    .advantages {
        .title {
            font-size: 22px;
        }
        .container {
            padding: 0 40px;
        }
    }
    .consultation {
        .title {
            font-size: 16px;
        }
        .consultation__desc {
            font-size: 16px;
        }
    }
    .catalog {
        .container {
            padding: 0 50px;
        }
        .title {
            font-size: 26px;
        }
        .catalog__tabs {
            margin-top: 30px;
        }
        .catalog__tab {
            font-size: 14px;
        }
    }
}
@media (max-width: 425px) {
    .header {
        flex-direction: column;
        .header__logo {
            width: 260px;
            margin-bottom: 40px;
        }
        .header__official {
            margin-bottom: 40px;
            font-size: 16px;
            span {
                font-size: 16px;
            }
        }
        .header__contacts {
            button {
                font-size: 14px;
                width: 160px;
                height: 36px;
                margin-top: 13px;
            }
            .header__phone {
                font-size: 20px;
            }
        }
    }
    .promo {
        .promo__header {
            font-size: 24px;
            text-align: center;
        }
        .promo__subheader {
            font-size: 13px;
            text-align: center;
            margin-top: 2px;
        }
        .promo__icons {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 36px;
            .promo__icon {
                margin-top: 20px;
            }
        }
    }
    .advantages {
        .container {
            padding: 0;
        }
    }
    .consultation {
        .container {
            padding: 0;
        }
    }
    .carousel {
        .container {
            padding: 0 70px;
        }
        .carousel__inner {
            .slick-arrow {
                display: none;
            }
        }
    }
    .catalog {
        .container {
            padding: 0 20px;
        }
        .title {
            font-size: 20px;
        }
        .catalog__tab {
            font-size: 12px;
        }
    }
}
@media (max-width: 375px) {
    .carousel {
        display: none;
    }
    .catalog {
        .title {
            margin-top: 30px;
        }
        .catalog__tabs {
            flex-direction: column;
            align-items: center;
        }
        .catalog__tab {
            margin-top: 15px;
            width: 280px;
            font-size: 16px;
            transform: skewX(0deg);
            div {
                transform: skewX(0deg);     
            }
        }
    }
}
@media (max-width: 320px) {
    .promo {
        .promo__header{
            font-size: 19px;
        }
        .promo__subheader {
            font-size: 12px;
        }
    }
    .advantages {
        .title {
            display: none;
        }
    }
}